@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}
body{
    font-family: "Open sans";
}

/* Шапка сайта */
header {
  padding: 0 10%;
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: column;
}

/* Поиск в шапке */
#headerSearch {
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;

}

#headSity {
  display: flex;
  width: 20%;
  align-items: center;
  margin-left: 2rem;
}

#city {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}

#containerSearch {
  display: flex;
  padding: 8px;
  background-color: #F1F1F1;
  border-radius: 100px;
  height: 48px;
  margin-right: 90px;
  width: 50%;
  display: flex;
  align-items: center;
}

#inputSearch {
  outline: none;
  border: none;
  background-color: #F1F1F1;
  color: #767676;
  font-weight: 400;
  font-size: 14px;
  text-align: center;

  height: 22px;
  width: 536px;
}

#login {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

#counterLike {
  margin-left: 0.1rem;
  font-size: 14px;
  font-weight: 400;
}

#log {
  margin-left: 1rem;
  padding: 16px 24px 16px 24px;
  background: none;
  border: 1px solid #D3D3D3;
  border-radius: 65px;
}

/* Вкладки меню */
#headerMenu {
  align-items: center;
  font-size: 0.8rem;
  height: 68px;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

#headerMenu li {
  margin-right: 0.5rem;
  padding: 1px 5px 1px 5px;
  height: 24px;
  text-align: center;
  border-radius: 34px;
  width: max-content;
}

#headerMenu li:hover {
  background-color: #F1F1F1;
}
.visible{
  display: block;
}
.disabl {
  display: none;
}
.disablMenu{
  display: none;
  transition: 1.5s;
}
.LeftScroll{
  box-shadow: 10px  0px 15px  10px #ffffff;
  
  width: 35px;
  position: absolute;
  background-color: #f1eeee00;
  left: 90px;
  top:85px;
  color: #222222;
}
#scrollArrow{
  box-shadow: -10px 0px 15px  10px #ffffff;
  width: 35px;
  position: absolute;
  background-color: #f1eeee00;
  right: 100px;
  top:82px
}
#headerMenu div {
  display: none;
}

/* Стили для поиска */
.popup {
  position: absolute;
  background: #fff;
  height: max-content;
  color: #000;
  top: 102.5px;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 7px 38px 0px rgba(44, 62, 106, 0.25);
  font-size: 0.9rem;
  transition: all .3s ease;
  transform: translateY(-50px);
  display: none;
}

.popupBody {
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.popupBodyBlock:nth-child(1) {
  padding: 1rem;
  border-bottom: 1px solid #D8D8D8;
}

.popupBodyBlock:nth-child(2) {
  justify-self: start;
}

.inputBlock {
  position: relative;
}

.inputBlockInput {
  width: 300px;
  padding: 1rem 1.2rem;
  border-radius: 50px;
  border: 2px solid transparent;
  background: #f1f1f1;
  outline-color: #ABC8EA;
}

.inputBlockInput:focus {
  background: #fff;
}

.cityСontainer {
  height: 255px;
  overflow: hidden;
}

mark {
  background: none;
  font-weight: 700;
  color: #0769d8d7;
}

.cityСontainer:hover {
  background: #f1f1f1;
}

.cityBlock {
  width: 100%;
  padding: 1rem 1.5rem;
}

.hide {
  display: none;
}

/* Класс для js */
.open {
  display: block;
}

/* Медиазапросы хедера для ноутбуков */
@media (min-width: 992px) and (max-width: 1199px) {
  header {
      padding: 0 3%;
      width: 100%;
      height: 160px;
      display: flex;
      flex-direction: column;
  }

  #headerSearch {
      height: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  #logo {
      display: flex;
      align-items: center;

  }

  #headSity {
      display: flex;
      align-items: center;
      margin-left: 3px;
      width: 20%;

  }

  #city {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
  }

  #containerSearch {
      display: flex;
      padding: 8px;
      background-color: #F1F1F1;
      border-radius: 100px;
      height: 48px;
      margin-left: 4px;
      width: 50%
  }

  #inputSearch {
      outline: none;
      border: none;
      background-color: #F1F1F1;
      color: #767676;
      font-weight: 400;
      font-size: 14px;
      text-align: center;

      height: 22px;

  }

  #login {

      display: flex;
      align-items: center;
  }

  #counterLike {
      margin-left: 0;
      margin-right: 0.3rem;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
  }

  #log {
      margin-left: 3px;
      margin: 0;
      padding: 16px 24px 16px 24px;
      background: none;
      border: 1px solid #D3D3D3;
      border-radius: 65px;
  }

  /* Вкладки меню */
  #headerMenu {
      align-items: center;
      font-size: 0.8rem;
      height: 68px;
      width: 100%;
      display: flex;
      list-style: none;
      justify-content: space-between;
  }

  #headerMenu li {
      margin-right: 0.8rem;
      padding: 1px 5px 2px 1px;
      height: 24px;
      text-align: center;
      border-radius: 34px;
      width: max-content;
  }
  .LeftScroll{
      box-shadow: 10px  0px 15px  10px #ffffff;
      width: 35px;
      position: absolute;
      background-color: #f1f1f1;
      left: 10px;
      top:95px;
      color: #222222;
  }
  #scrollArrow{
      box-shadow: -10px 0px 15px  10px #ffffff;
      width: 35px;
      position: absolute;
      background-color: #f1f1f1;
      right: 10px;
      top:94px
  }
}

/* Медиазапросы для планшета */
@media (min-width: 768px) and (max-width: 991px) {
  .popup{
      left:125px
  }
  header {
      padding: 0 1%;
  }

  #headerMenu li {
      display: none;
  }


  #headerMenu img {
      display: block
  }

  #login {
      display: none;
  }

  #headerMenu #login {
      align-items: center;
      justify-content: center;
      display: flex;


  }

  #containerSearch {
      display: flex;
      padding: 5px;
      background-color: #F1F1F1;
      border-radius: 100px;
      height: 48px;
      margin-left: 0.2rem;
      display: flex;
      align-items: center;
      width: 50%;
  }

  #inputSearch {
      outline: none;
      border: none;
      background-color: #F1F1F1;
      color: #767676;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      height: 22px;
      width: 536px;
  }
  #LeftScroll{
      display: none!important;
  }
  #scrollArrow{
      display: none!important;
  }

}


/* Адаптивность под телефон */
@media (max-width: 767px) {
  header {
      padding: 0;
      height: 100px;

  }

  #headerMenu {
      padding: 0.5rem;
      height: 100px;
  }

  #headerSearch {
      display: none;
  }



  #headerMenu li {
      display: none;
  }

  #headerMenu #login {
      align-items: center;
      justify-content: center;
      display: flex;


  }

  #headerMenu #logo {
      display: block;
  }

  #headerMenu img {
      display: block;
  }

  #headerMenu #log {
      display: none
  }

  #counterLike {
      margin-left: 0.3rem;
      font-size: 1.2rem;
  }
  #LeftScroll{
      display: none!important;
  }
  #scrollArrow{
      display: none!important;
  }

}

/* Основной контент */
#container {
  background-color: #D3D3D3;
  width: 100%;
  height: 740px;
  padding: 0 10%;
}

#container nav {
  font-size: 12px;
  font-weight: 400;
  color: #767676;
  display: flex;
  align-items: center;
  height: 84px;
  width: 100%;
}

#container nav img {
  margin: 0 8px 0 8px
}

#photo {
  height: 350px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  background-image: url(../img/photo_2023-06-23_02-00-20.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover
}

#commentPhoto {
  background-color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  height: max-content;
  padding: 24px 24px;
}

/* Заголовок под фото */
.navContainer {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.blockMainZag {
  font-size: 1.8rem;
  font-weight: 500;
  color: #222222;
  width: 100%;
}

.containerDopInfo {
  display: flex;
  margin: 0;
}

.infoBlockBtn {
  display: flex;
  align-items: center;
  height: max-content;
  padding: 0.7rem;
  border-radius: 50px;
  border: 0;
  border: 1px solid #D8D8D8;
  background: none;
  justify-content: space-between;
}

.grey {
  margin-left: 0.5rem;
}

.iconsblock {
  display: flex;

}

/* Адрес и номер */
.iconsblock svg {
  margin-left: 8px;
}

.rate {
  font-size: 15px;
  color: #767676;
  display: flex;
  align-items: center;
  height: 100%;
}

.rateNum {
  margin: 0 4px;
}

.listBlock {

  display: flex;
  height: 100%;
}

.listInfo {
  font-size: 16px;
  list-style: disc;
  margin-left: 1rem;
  color: #767676;
}

.update {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.updateDate {
  margin-right: 1rem;
}

.btnUpd {
  color: #0656b4;
  font-weight: bolder;
}

.rightCont {
  width: 28%;
  display: flex;
  justify-content: space-between;
}

#disabl {
  display: none;
}

/* Медиазапросы контента для ноутбуков */
@media (min-width: 992px) and (max-width: 1199px) {
  .containerDopInfo {

      margin-left: 0 !important;
  }

  #container {
      background-color: #D3D3D3;
      width: 100%;
      padding: 0 3%;

  }

  #container nav {
      font-size: 12px;
      font-weight: 400;
      color: #767676;
      display: flex;
      align-items: center;
      height: 84px;
      width: 100%;
  }

  #container nav img {
      margin: 0 8px 0 8px
  }

  #photo {
      height: 350px;
      border-radius: 10px 10px 0px 0px;
      width: 100%;
      background-image: url(../img/photo_2023-06-23_02-00-20.jpg);
      /* background-position: 50% 53%; */
      background-repeat: no-repeat;
      background-size: cover
  }

  #commentPhoto {
      background-color: #FFFFFF;
      border-radius: 0px 0px 10px 10px;
      height: 192px;
      padding: 24px 24px;
  }

  /* Заголовок под фото */
  .navContainer {
      display: flex;
      width: 100%;
  }

  .blockMainZag {
      font-size: 26px;
      font-weight: 500;
      color: #222222;
      width: 100%
  }

  .containerDopInfo {
      margin-left: 4px;
      display: flex;
  }

  .infoBlockBtn {
      display: flex;
      align-items: center;
      height: max-content;
      padding: 0.7rem;
      border-radius: 50px;
      border: 0;
      border: 1px solid #D8D8D8;
      background: none;
  }

  .left {
      width: 60%;
  }

  .grey {
      margin-left: 0.5rem;
  }

  .iconsblock {
      display: flex;
  }

  /* Адрес и номер */
  .iconsblock svg {
      margin-left: 8px;
  }

  .rate {
      font-size: 15px;
      color: #767676;
      display: flex;
      align-items: center;
      height: 100%;
  }

  .rateNum {
      margin: 0 4px;
  }

  .listBlock {
      display: flex;
      height: 100%;
  }

  .listInfo {
      list-style: disc;
      margin-left: 1rem;
      color: #767676;
  }

  .update {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
  }

  .updateDate {
      margin-right: 1rem;
  }

  .btnUpd {
      color: #0656b4;
      font-weight: bolder;
  }
}

/* Медиазапросы для планшета */
@media (min-width: 768px) and (max-width: 991px) {
  #container {
      background-color: #D3D3D3;
      padding: 0 1%;

  }

  #commentPhoto {

      background-color: #FFFFFF;
      border-radius: 0px 0px 10px 10px;
      height: 250px;
      padding: 24px 24px;

  }

  .rightCont {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 !important;
      padding: 0;
  }

  .iconsblock {
      margin-top: 5px;
      margin-left: 0rem !important;
      width: 90%;
      display: flex;
      justify-content: space-around;
  }

  .iconsblock svg {
      margin: 0;
  }

  .listBlock {

      display: flex;
      flex-direction: column;

      margin-left: 0.1rem;
  }

  .rightCont {
      width: 20%;
  }
}

#backMobil {
  width: 100%;
  height: 80px;
}

/* Адаптивность под телефон */
.bord {
  width: 50px;
  height: 50px;
  padding: 5px 5px 5px 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
}

#photo .iconsblock {
  display: none;
}

#MobilBut {
  display: none;
}
/* Медиазапросы для телефона */
@media (max-width: 767px) {
  #container {
      padding: 0
  }

  #container nav {
      display: none;
  }

  #backMobil {
      display: flex;
      align-items: center;
      color: #767676;
      padding: 0.5rem;
  }

  #Back {
      font-size: 1.3rem;

  }

  .iconsblock svg {
      margin: 0;
  }

  #heart {
      padding: 5px;
  }

  #photo .iconsblock {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
      padding: 1rem;
  }

  #photo {
      height: 250px;
  }

  .rightCont {
      display: none;
  }

  .left {
      width: 100% !important;
  }

  .listBlock {
      display: none;
  }

  #disabl {
      display: block;

  }

  .navContainer .containerDopInfo {
      flex-direction: column;
      margin: 0;
  }

  .listInfo {
      margin: 0;
      list-style: none;
      margin-bottom: 5px;
  }

  #mobilupd {
      display: none
  }

  #MobilBut {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #0656B4;
      background-color: #DFE9F5;
  }

  #MobilBut:hover {
      background-color: #0656B4;
      color: #DFE9F5;
  }
}
.user__account-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url(../img/avatar.jpg);
  background-size: cover;
  margin-left: 0.4rem;
}